@charset "utf-8";
/*首页开始*/

.banner{ width:100%; height:400px; margin:0 auto; position:relative; overflow:hidden;}
.bannerImgList li {
	display: none;
}
.bannerImgList li .pic{ position:relative;}
.bannerImgList li .pic .txt{text-align:right; height:125px; position:absolute; right:390px; top:70px;}
.bannerImgList li .pic .txt2{position:absolute; left:390px; top:70px;text-align:left;}
.bannerImgList li .pic .txt h2{ font-size:48px; color:#0080cc; line-height:80px;}
.bannerImgList li .pic .txt p{ font-size:24px; color:#0080cc; line-height:30px;}
.bannerImgList .current {
	display: block;
}
.banner .bannerImgList{
	width:1920px;
	height:400px;
	position:relative;
}
.bannerBtnList{ height:14px; overflow:hidden; position:absolute; bottom:36px;}
.bannerBtnList li{ width:14px; height:14px; background:#0080cc; float:left; margin-right:11px; cursor:pointer;}
.bannerBtnList .current{ background:#fff;}

.warp{ background:#f8f8f8;}
.tipsBar{ height:40px;line-height:40px; background:#0080cc; color:#fff; position:relative; top:-20px; overflow:hidden;}
.tips{ float:left; font-size:14px; width:110px; text-align:center;}
.tipsCont{ width:1000px; float:left; text-align:right;}
.tipsCont a{
	color:#fff;
	text-align:right;
	display:block;
}
.tipsCont a span{ float:left; display:block;}
.tipsCont a:hover,.tipsCont a:hover span{ text-decoration: none;opacity:.8;}
.tipsBtn{ float:right; width:46px; margin-right:10px; margin-top:10px;}


.tipsBtn .arrowBtn{ width:20px; height:20px;float:left; cursor:pointer;}
.tipsBtn .arrowBtn:hover{
	background-color: #00a0ff;
}


.quikeNav{
	width:1200px; 
	margin:0 auto;
	background:#fff;
	height:120px;
}
.quikeNav li{
	width:199px; 
	height:120px; 
	border-right:1px solid #eaeaea;
	float:left;
}
.quikeNav li a{
	display:block;
	width:100%;
	height:100%;
	text-align:center;
}
.quikeNav li a span{
	display:block;
	width:70px;
	height:70px;
	overflow:hidden;
	margin:0 auto;
	background:url(../images/quikeNav_bg1.png) no-repeat;
}
.quikeNav li a p{

 font-size:14px; line-height:58px;
	
}	

.quikeNav .noright{ border-right:none; width:199px;}
.quikeNav .list1 a span{
	background:url(../images/quikeNav_bg2.png) no-repeat;
}

.quikeNav .list2 a span{
	background:url(../images/quikeNav_bg3.png) no-repeat;
}

.quikeNav .list3 a span{
	background:url(../images/quikeNav_bg4.png) no-repeat;
}

.quikeNav .list4 a span{
	background:url(../images/quikeNav_bg5.png) no-repeat;
}

.quikeNav .list5 a span{
	background:url(../images/quikeNav_bg6.png) no-repeat;
}
.quikeNav .list6 a span{
	background:url(../images/bannerbg/quikeNav_bg6.png) no-repeat;
}
.quikeNav .list7 a span{
	background:url(../images/bannerbg/quikeNav_bg12.png) no-repeat;
}
.quikeNav .list8 a span{
	background:url(../images/bannerbg/quikeNav_bg8.png) no-repeat;
}
.quikeNav .list9 a span{
	background:url(../images/bannerbg/quikeNav_bg9.png) no-repeat;
}
.quikeNav .list10 a span{
	background:url(../images/bannerbg/quikeNav_bg10.png) no-repeat;
}
.quikeNav .list_znkf a span{
	background:url(../images/bannerbg/quikeNav_bg11.png) no-repeat;
}
.quikeNav .list_wmcj a span{
	background: url(../images/bannerbg/quikeNav_bg13.png) no-repeat 14px 31px;
	background-size: 43px 39px
}
/*.quikeNav li a:hover span{ background-position:0 -70px;}*/
.quikeNav li a:hover{ color:#333; background:#fffaed;}
.news{ margin:20px auto -10px auto; width:1200px; background:#fff;}
.newsCenter{
	float:left;
	width:740px;
	border-right:1px solid #eaeaea;
	padding:0 30px 20px 30px;
}
.newsCenterTitle{
	height:45px;
	padding-top:5px;
	line-height:45px;
	border-bottom:1px solid #eaeaea;
}

.newsCenterTitle .titleList{
	float:left;
}
.newsCenterTitle .titleList li{ font-size:18px; line-height:44px;;  float:left; margin-right:30px; height:44px; cursor:pointer;}
.newsCenterTitle .titleList .current{ color:#0080cc; border-bottom:2px solid #0080cc;}
.newsCenterCont{ padding-top:20px;}
.content1 .contLeft{
	float:left;
	width:345px;
	 position:relative;
	 height:242px;
}
.content1 .contLeft h2{
	font-weight:normal;
	font-size:16px;
	line-height:35px;
	margin-top:10px;
	width: 343px;
	overflow: hidden;
    text-overflow: ellipsis;
	height:35px;
}
.content1 .contLeft .date{ margin-top:5px;}
.content1 .contLeft .date .time{ float:left; color:#999;}
/*jzk0920*/
.jgList{ display:inline-block; padding-top:20px; float:left; }
.jgList .jgList_img{ width:219px; height:160px; background:#f8f8f8; text-align:center;}

.jgList_hover1:hover .jgList_img{ background:#b7bf10;}
.jgList_hover1:hover .jgList_img i{ color:#fff;}
.jgList_hover1:hover p{color:#b7bf10;}

.jgList_hover2:hover .jgList_img{ background:#d7af4f;}
.jgList_hover2:hover .jgList_img i{ color:#fff;}


.jgList_hover2:hover p{color:#d7af4f;}

.jgList_hover3:hover .jgList_img{ background:#0080cc;}
.jgList_hover3:hover .jgList_img i{ color:#fff;}
.jgList_hover3:hover p{color:#0080cc;}

.jgList_hover4:hover .jgList_img{ background:#00bb9c;}
.jgList_hover4:hover .jgList_img i{ color:#fff;}
.jgList_hover4:hover p{color:#00bb9c;}

.jgList_hover5:hover .jgList_img{ background:#2cc6ad;}
.jgList_hover5:hover .jgList_img i{ color:#fff;}
.jgList_hover5:hover p{color:#2cc6ad;}

.jgList_hover6:hover .jgList_img{ background:#eb4f38;}
.jgList_hover6:hover .jgList_img i{ color:#fff;}
.jgList_hover6:hover p{color:#eb4f38;}

.jgList.qsList .jgList_img{ width:310px;}
.colorGreen2{ color:#b7bf10;}
.colorGreen3{ color:#00bb9c;}
.jgList .jgList_img i{ line-height:160px;}
.zplist .icon{ background:#f8f8f8; height:50px; padding-top:30px; width:217px; border:1px solid #eaeaea;}
.zplist { }
.zplist a{ display:block;text-align:center;}
.zplist .list1 .icon i,.zplist .list1:hover p{ color:#d7af4f;}
.zplist .list2 .icon i,.zplist .list2:hover p{ color:#7a428f;}
.zplist .list3 .icon i,.zplist .list3:hover p{ color:#b7bf10;}
.zplist .list4 .icon i,.zplist .list4:hover p{ color:#ea8010;}
.zplist .list5 .icon i,.zplist .list5:hover p{ color:#00a0d7;}
.zplist .list6 .icon i,.zplist .list6:hover p{ color:#00bb9c;}
.zplist a:hover .icon i{ color:#ffffff;}
.zplist .list1:hover .icon{ background:#d7af4f;}
.zplist .list2:hover .icon{ background:#7a428f;}
.zplist .list3:hover .icon{ background:#b7bf10;}
.zplist .list4:hover .icon{ background:#ea8010;}
.zplist .list5:hover .icon{ background:#00a0d7;}
.zplist .list6:hover .icon{ background:#00bb9c;}
.gj_pic{ width:345px;}
.gj_txt{ width:370px;}
.gj_txt p{ text-indent:2em; }
.gj_pic .pic{ width:345px; height:196px; overflow:hidden; }
.txtList.contRight{ width:475px; padding-left:20px;}
.txtList.contRight li{ border-bottom:1px solid #eaeaea; height:60px; line-height:60px;}
.txtList.contRight .noBottom_border{ border-bottom:none;}
.txtList.contRight li span{max-width:320px;}

.zplist .jzk_swhj_contListContent{ width:232px; height:180px; padding:0;}
.zplist .jzk_swhj_contListBtn{width:234px; text-align:center;}
.jzk_swhj_contListContent .jzk_bfb .noRight_border{ border:none;}
.jzk_swhj_contListBtn a{ display:block; width:100%; height:100%; color:#fff;}
.zplist{ cursor:pointer;}
.zplist:hover .jzk_swhj_contListContent{ border:1px solid #cda949; border-bottom:none;}
.zplist:hover .jzk_swhj_contListBtn{ background:#cda949;}



.jzk_swhj_contList li:hover .jzk_swhj_contListContent{ border:1px solid #cda949; border-bottom:none;}
.jzk_swhj_contList li:hover .jzk_swhj_contListBtn{ background:#cda949;}



.contRight{ float:right; width:380px; line-height:36px; color:#999;}
.contRight li a{ text-align:right; display:block; clear:both;}

.contRight li span {
	float:left;
	max-width:220px;
	white-space:nowrap;
	text-overflow: ellipsis;
	display:block;
	overflow:hidden;
	text-align:left;
}

 .contRight li span a{ color:#666;}

.kjNav{ float:right; width:347px; margin-right:30px;}
.kjNavBtnList{ padding-bottom:10px;}
.kjNavBtnList li a{width:347px; height:70px; display:block;  color:#333;}

.kjNavBtnList li a .icon{ background:url(../images/kjNav_bg1.png) no-repeat; width:52px; height:52px; overflow:hidden; margin-top:9px; }

.kjNavBtnList li a .txt{ margin-left:10px;font-size:18px; line-height:70px;}

.kjNavBtnList .list1 a .english,.kjNavBtnList .list3 a .english{
	background:url(../images/index_arrow1.png) no-repeat 0 0; width:9px; height:11px; margin:30px 10px 0 0;
}
.kjNavBtnList li a .english{
	background:url(../images/index_arrow1.png) no-repeat 0 0; width:9px; height:11px; margin:30px 10px 0 0;
}
.kjNavBtnList li a .english{
	background:url(../images/index_arrow1.png) no-repeat 0 0; width:9px; height:11px; margin:30px 10px 0 0;
}
/*.kjNavBtnList li a:hover .english{background:url(../images/index_arrow_hover.png) no-repeat 0 0;}*/
.kjNavBtnList .list1 a .icon{ background:url(../images/kjNav_bg3.png) no-repeat;}
.kjNavBtnList .list2 a .icon{ background:url(../images/kjNav_bg4.png) no-repeat;}
.kjNavBtnList .list3 a .icon{ background:url(../images/kjNav_bg5.png) no-repeat;}
.kjNavBtnList .list3 a{ background:#f8f8f8;}
.kjNavBtnList .list1 a{ background:#f8f8f8;}

.kjNavBtnList .list4 a{ border-bottom:none;}
/*.kjNavBtnList .list4 a .icon{ background:url(../images/kjNav_bg5.png) no-repeat;}
*/.kjNavBtnList li a:hover{ background:#fffaed; color:#333;}
/*.kjNavBtnList li a:hover .icon{ background-position:0 -52px;}*/

.porduct{ width:1200px; margin:0 auto;background:#fff; position:relative; bottom:-30px;}
.porductServe{
	float:left;
	width:740px;
	height:393px;
	border-right:1px solid #eaeaea;
	padding:0 30px 15px 30px;
}
.porductServeCont{ padding-top:20px;}

.PSbtnBar{ background:url(../images/product_bg.png) repeat-x 0 0; height:30px; width:738px; border-left:1px solid #eaeaea; border-right:1px solid #eaeaea;}
.PSbtnBar .arrowLBtn{ float:left; width:28px; height:28px; margin-top:1px;cursor:pointer;}

.PSbtnBar .btnList{ width:679px; border-left:1px solid #eaeaea; border-right:1px solid #eaeaea; overflow:hidden; height:30px; float:left;}

.PSbtnBar .btnList ul{ width:1200px;}
.PSbtnBar .btnList li{ float:left; width:97px; border-right:1px solid #eaeaea; height:30px; text-align:center;  font-size:14px; line-height:30px; cursor:pointer;}
.PSbtnBar .btnList .noright{ border-right:none;}
.PSbtnBar .btnList .current{ background:url(../images/product_bg1.png) repeat-x; color:#fff;}
.PSbtnBar .arrowRBtn{ float: right; width:29px; height:28px; margin-top:1px; cursor:pointer;}

.PSbtnBar .arrowBtn:hover{
	background-color:#ececec;
	
	}



.PScontentList .list li{ display:block;}
.PScontentList .list { display:none;}
.dataStatistics{ width:347px; margin-right:30px; float: right;}

.dataStatistics .content .touziSz { height:45px; padding:20px 0 20px 0; width:347px; overflow:hidden; border-bottom:1px solid #eaeaea;}
.dataStatistics .content .touziSz ul{ width:390px;}
.dataStatistics .content .touziSz li{ float:left; border-right:1px solid #eaeaea; text-align:center; width:174px;}
.dataStatistics .content .touziSz li h3{ font-size:23px; line-height:30px; }
.dataStatistics .content .touziSz li p{  font-size:14px; line-height:24px; color:#666;}
.dataStatistics .content .touziList li{ height:89px; border-bottom:1px solid #eaeaea; line-height:89px; text-align:right;}
.dataStatistics .content .touziList li p{ float:left; }
.dataStatistics .content .touziList .nobottom{ border-bottom:none;}

.warp2{
	height:410px;
	background-color: #0080cc;
	background-image: url(../images/warp2.png);
	background-repeat: no-repeat;
	background-position: center 0;
}
.market{ width:1200px; margin:0 auto; padding:0px 0;}
.market .title{ height:45px; padding-top:5px; font-size:18px; line-height:45px;  color:#fff; border-bottom:1px solid #eaeaea;}
.market .title .btnList{ float:left;}
.market .title .btnList li{ float:left;  margin-right:40px;}
.market .title .btnList .current{ border-bottom:2px solid #fff; height:43px;}
.market .title a{ font-size:12px; color:#fff;}

.market .content{ padding-top:30px;}
.market .content .itemList{ width:623px; float:left; color:#fff;}

.marketData  .tableCont{ height:246px;width:100%;overflow:hidden;overflow-y:auto; }

.marketData table{width:100%;text-align:center;}
.itemList table .bt{ background:url(../images/marker_bg1.png) no-repeat; height:40px; border-bottom: none;}
.itemList .tableCont tr{ border-bottom:1px solid #419acf; cursor:pointer;}
.itemList .tableCont tr:hover{ background-image: url(../images/transparent_bg_white.png);
	background-repeat: repeat;}
.itemList .tableCont .current{
	background-image: url(../images/transparent_bg_white.png);
	background-repeat: repeat;
}

.marketTrend{ float:right; background:#fff; width:489px; height:282px; margin-top:1px; padding:0 30px;}
.marketTrend .title{ height:48px; padding-top:0px; line-height:48px; text-align:right; font-size:12px;color:#666;}
.marketTrend .title h2{ float:left; font-size:16px; line-height:48px; color:#0080cc; height:47px;}

/*上海金、上海银、租借基准利率*/
.dataStatistics .columnTitle { display: flex;}
.dataStatistics .columnTitle h2 { border-bottom: 0px; width: 80px; text-align: center; cursor: pointer; }
.dataStatistics .columnTitle h2:last-child { width: 170px; }
.dataStatistics .columnTitle i { border-right: 1px solid #000; height: 20px; margin-top: 15px; }
.dataStatistics .columnTitle .active { border-bottom: 2px solid #0080cc; }

#dataStatistics2 .zj_table { width: 325px; height: 210px; overflow: scroll; overflow-x: hidden; }
#dataStatistics2 .zj_table .mCS-light-thick.mCSB_scrollTools .mCSB_buttonUp { background-position: -96px 0 !important;}
#dataStatistics2 .zj_table .mCS-light-thick.mCSB_scrollTools .mCSB_buttonDown { background-position: -96px -20px !important;}
#dataStatistics2 .zj_table .mCS-light-thick.mCSB_scrollTools .mCSB_draggerRail, .mCS-dark-thick.mCSB_scrollTools .mCSB_draggerRail { background-color: rgba(200,200,200, 1); }
#dataStatistics2 .zj_table .mCS-light-thick.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCS-dark-thick.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar { background-color: rgba(155,155,155, 1); }
#dataStatistics2 table { width: 100%; height: 290px; }
#dataStatistics2 table thead th { font-weight: normal; }
#dataStatistics2 .touziList .zj_table .table th { font-weight: bold; line-height: 30px; font-size: 14px; border-bottom: 1px solid #eaeaea;}
#dataStatistics2 .touziList .zj_table .table td { line-height: 30px; font-size: 14px; border-bottom: 1px solid #eaeaea; }
#dataStatistics2 table thead td:last-child { border: 0px;}
#dataStatistics2 table tbody td { text-align: center; }

/*首页结束*/

/*新闻中心开始*/
/*.jzk_main{ background-color: #f8f8f8; padding-bottom:30px;}*/
.jzk_newsCenter_Main{  background-color: #f8f8f8;padding-bottom:0px;
	background-image: url(../images/newsCenterBg.jpg);
	background-repeat: no-repeat;
	margin-right: auto;
	margin-left: auto;
	background-position: center top;
}
.jzk_title{ height:110px; width:1170px; margin:0 auto;padding-left:30px; font-size:26px; line-height:110px;  color:#0f91dd; overflow:hidden;}
.jzk_title span{
	font-size: 14px;
	text-transform: uppercase;
	padding-left:20px;
	color:#9ac7ec;
}
.jzk_newsCenter_Cont{ width:1140px; background:#fff; margin:0 auto; padding:30px 30px 0 30px; }

.jzk_newCenter_ContLeft{ width:239px; float:left; overflow:hidden;}
.jzk_newCenter_ContLeft .title{ height:45px; padding-left:25px; font-size:18px; line-height:45px; color:#fff; background:#0080cc;}

.jzk_newsCenter_ContRight{ float:left; padding-left:37px; border-left:1px solid #eaeaea; width:860px; overflow:hidden; min-height:600px;}

.jzk_jysNews_title{ height:44px; border-bottom:1px solid #eaeaea; line-height:44px; clear:both;}
.jzk_jysNews_title h2{ width:95px; font-size:18px; color:#0080cc; font-weight:normal; height:43px; border-bottom:2px solid #0080cc; float:left;}

.jzk_jysNews_content{ padding:20px 0;}
.jzk_jysNews_pic{ float:left; width:404px; height:246px; position:relative;}
.jzk_jishaoBar{ width:100%;  background:url(../images/newspicDwBg1.png) repeat; position:absolute; bottom:0; left:0; font-size:14px; color:#fff; line-height:24px;}
.jzk_jishaoBar .txt{ width:220px; float:left;
         white-space: nowrap;
       text-overflow: ellipsis;
	   overflow:hidden;
	   margin:10px;
	  
}

.jzk_jysNews_list.contRight{ width:435px;}
.jzk_jysNews_list.contRight li span{ max-width:300px;}
.jzk_wtbd_cont{ padding:20px 0;}
.jzk_wtbd_cont .jzk_jysNews_list.contRight{ float:left;}
.jzk_wtbd_cont .jzk_jysNews_pic{ float:right;}
.jzk_jysNews_list.contRight li a:hover{ color:#b77b0d;}
.jzk_jysNews_list.contRight li a:hover span{background:url(../images/dianCurrent.png) no-repeat 0 13px;}
/*新闻中心结束*/

/*新闻中心-详情开始*/


.jzk_newsCenter_meeting{color:#333333;}
.jzk_newsCenter_meeting .title{ text-align:center; height:115px; border-bottom:1px solid #eaeaea;}
.jzk_newsCenter_meeting .title .colorRed{ color:#d00000;}
.jzk_newsCenter_meeting .title .colorBlue{ color:#0080cc;}
.jzk_newsCenter_meeting .title .colorGreen {
    color: #24b938;
}
.jzk_newsCenter_meeting .title h1{ font-size:24px; line-height:30px; padding-top:30px;     color: #d00000;}
.jzk_newsCenter_meeting .title p span{ padding:0 20px;}
.jzk_newsCenter_meeting .title p span i{ font-style:normal; color:#999;}

.jzk_newsCenter_meeting .title p { line-height:40px;}
.jzk_newsCenter_meeting .content p{ font-size:14px; line-height:30px; text-indent:2em; margin-top:20px;}
.jzk_newsCenter_meeting .content td p {
    text-indent:inherit;
    margin-top: 0px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}


.jzk_newsCenter_meeting .content .pic{ text-align:center; margin-top:20px;}

.jzk_newsCenter_meeting .content td{ word-wrap:break-word !important;}

/*.jzk_newsCenter_meeting .content .pic{ text-align:center; margin-top:20px;}
*/
.jzk_newsCenter_meeting .content img{ width:70%;}



.jzk_news_fenxiang{ float:right; line-height:39px;}
.jzk_news_fenxiang b{ font-weight:normal;}
.jzk_news_xgwz{ margin-top:20px;}
.jzk_news_xgwz .title{ height:40px; border-bottom:1px solid #eaeaea; border-top:1px solid #eaeaea; line-height:40px;}
.jzk_news_xgwz .title h3{ float:left; font-size:14px; padding-left:10px; line-height:40px; height:39px;}

.jzk_news_xgwz .contList{ margin:20px 0; border-top:2px solid #f5f5f5;}
.jzk_news_xgwz .contList a{ display:block; height:39px; line-height:39px; text-align:right; padding-right:10px;}
.jzk_news_xgwz .contList b{ float:left; background:url(../images/dian.png) no-repeat 10px 14px; padding-left:25px; font-weight:normal;}

.jzk_news_xgwz .contList .ts{ background:#f5f5f5;}

.jzk_news_xgwz .contList a:hover{ color:#b87912; background:#f5eedb;}
.jzk_news_xgwz .contList a:hover b{background:url(../images/dianCurrent.png) no-repeat 10px 14px;}

/*新闻中心-详情结束*/



/*交易所新闻开始*/


.jzk_JysNews_list{ padding:20px 0; border-bottom:1px solid #eaeaea;}
.jzk_JysNews_list a{ display:block; text-align:right; height:39px; height:40px; line-height:40px; clear:both; padding:0 10px;}
.jzk_JysNews_list a span { background:url(../images/dian.png) no-repeat 0 16px; padding-left:20px;  float:left; max-width:520px; overflow:hidden; white-space:nowrap; text-overflow: ellipsis; display:block; overflow:hidden; }
.jzk_JysNews_list a img{  display:block;padding-left:15px;  padding-top:13px; float:left;}
.jzk_JysNews_list .ts{ background:#f5f5f5;}
.jzk_JysNews_list a:hover{ color:#b87912; background:#f5eedb;}
.jzk_JysNews_list a:hover span{background:url(../images/dianCurrent.png) no-repeat 0 16px;}

/*交易所新闻结束*/






/*关于金交所开始*/

.jzk_about_content{ padding-bottom:260px;}
.jzk_about_content .pic{ width:860px; height:130px; position:relative;margin-top:20px;}
.jzk_about_content .pic .txt{ width:220px; height:60px; position:absolute; right:30px; top:30px; text-align:center; }

.jzk_about_content .pic .txt h2{ font-size:30px; line-height:40px; font-weight:normal; color:#fff;}
.jzk_about_content .pic .txt p{
	font-size:15px;
	line-height:20px;
	color:#fff;
	text-transform: uppercase;
	margin-top:5px;
}
.jzk_about_content p{ font-size:14px; line-height:24px; color:#333; margin-top:20px;}


/*关于金交所结束*/




/*品牌中心开始*/
.jzk_ppCenter_content{ padding:30px 0;}
.jzk_ppCenter_picList{ float:left; width:232px;}
.jzk_ppCenter_picList li{ padding-bottom:5px;}
.jzk_ppCenter_Right{ float:right; width:580px;}
.ppCenterLogo img{ padding-bottom:5px;}
.ppCenterTxt li{ margin-top:20px;} 
.ppCenterTxt li h2{ background:url(../images/ppCenterTiltebg.png) no-repeat 0 5px; padding-left:25px; font-size:14px; line-height:28px; color:#d4b04f;}
.ppCenterTxt li p{ padding-left:25px; font-size:14px; line-height:26px;}

/*品牌中心结束*/


/*投资者教育开始*/
.tzz_tipsBar{ background:#0080cc; height:50px; width:1200px; margin:0 auto; overflow:hidden;}
.tzz_tipsBar_left{ float:left; width:840px;}
.tzz_tipsBar_left .txtCent{ float:left; width:710px;}
.tzz_tipsBar_left .txtCent li { font-size:12px; line-height:50px; color:#fff; clear:both; height:50px; overflow:hidden;}
.tzz_tipsBar_left .txtCent li a{ display:block; color:#fff;}
.tzz_tipsBar_left .txtCent li .txt{
    max-width: 540px;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
	float:left;
	}


.tzz_tipsBar_left .txtCent li a:hover{opacity:.8;}

.tzz_searchBar{ float: right; margin:10px 20px 0 0;height:30px;}
.tzz_searchBar input{ width:222px; height:28px; padding:0 10px; line-height:28px; color:#333333; }
.tzz_searchBar .btn{ background:#d4b04f; width:88px; height:30px; line-height:28px; float:left;display:block;	border-top-left-radius:0px;
	border-top-right-radius:2px;
	border-bottom-right-radius:2px;
	border-bottom-left-radius:0px;	
}

.tzz_searchBar .btn:hover{
	background-color:#e3bb51;
	}


.tzz_content{ width:1140px; background:#fff; margin:20px auto 0; padding:0 30px;}
.tzz_jczc{ width:740px; border-right:1px solid #eaeaea; float:left; padding-right:30px;}
.jczc_btnList{ margin:20px 0; background:url(../images/jczc_btnList_bg.jpg) no-repeat; width:680px; height:130px; padding:60px 30px 0 30px;  overflow:hidden;}
.jczc_btnList ul{ width:800px;}
.jczc_btnList li a{ float:left; 
    display:block;
/* background:url(../images/touzizhe/tzz_btn.png) no-repeat; */ 
    width:145px;
    height:60px;
	border:1px solid #c3dfed;
	border-radius:5px;
    text-align:center; 
    line-height:60px;
    overflow:hidden;
	font-size:16px;
	margin-right:30px;
	background:#fafafa;
}
.jczc_btnList li a:hover{ background:#ceae54; color:#fff; border-color:#ceae54;}
.tzz_hjdjt{ float:right; width:340px;}
.tzz_hjdjt_bewrite { padding:20px 0; border-bottom:1px solid #eaeaea;}
.tzz_hjdjt_bewrite .pic{ float:left;}
.tzz_hjdjt_bewrite .txt{ float:right; width:225px;}
.tzz_hjdjt_bewrite .txt h2{line-height:24px;}
.tzz_hjdjt_bewrite .txt p{ margin-top:5px;}
.tzz_hjdjt_jchf a{ display:block; height:44px; border-bottom:1px dotted #eaeaea; text-align:right; line-height:44px;}
.tzz_hjdjt_jchf .txt{
    max-width: 230px;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
	float:left;
	}
	
.jzk_tzz_ems{ background:#fff;margin:20px auto 0; width:1200px;}
.jzk_tzz_ems table .bt{ background:url(../images/touzizhe/tzz_emsIcon.png) no-repeat 30px center;padding-left:105px; font-size:20px; color:#0080cc; font-weight:bold; line-height:100px;}
.jzk_tzz_ems table td{ line-height:34px; font-size:16px;}
.jzk_tzz_ems .dateTime{ width:80px; height:34px;}	

.tzz_kjxz{ width:1140px; background:#fff; margin:20px auto 0; padding:0 30px;}
.tzz_kcfl{  background:#fcfbfa; position:relative; padding-bottom:20px;height:45px; overflow:hidden;}
.tzz_kcflLeft{ float:left; font-size:14px; font-weight:bold; color:#333; padding-left:15px; line-height:62px; }
.tzz_kcflRight{ float:left; width:980px;margin-left:40px;}
.tzz_kcflRight a{ float:left; font-size:14px;line-height:24px; margin-right:25px; margin-top:20px; display:block;  color:#333;  padding:0 10px;-webkit-border-radius:2px;
	border-radius:2px;}
.tzz_kcflRight .current{ background:#d4b04f; color:#fff;}
.tzz_kcflRight a:hover{ background:#d4b04f; color:#fff;}

.tzz_kcfl .controlBtn{ width:54px; height:22px; background:#fbfbfb; border:1px solid #f2f2f1; text-align:center; line-height:22px; position:absolute; right:10px; bottom:20px; cursor:pointer;-webkit-border-radius:2px;
	border-radius:2px;}
.tzz_kcfl .controlBtn span{ padding-left:5px;}
.tzz_kcfl .controlBtn:hover{ color:#0080cc;background-color:#e7f6ff;border:1px solid #c8e2f1;}
.tzz_ktdy{ height:65px; background:#fcfbfa; border-bottom:1px solid #eaeaea; position:relative;}
.tzz_ktdyLeft{ float:left; font-size:14px; font-weight:bold; color:#333; padding-left:15px; line-height:65px;}



.tzz_kjxz_content{ padding:30px 0;}
.tzz_kjxz_contentLeft{ float:left; width:480px;}
.tzz_kjxz_contentLeft .title,.tzz_kjxz_contentRight .title{ line-height:24px; font-size:14px; margin-top:5px; }
.tzz_kjxz_contentLeft .txt{width:450px;}
.tzz_kjxz_contentLeft .txt,.tzz_kjxz_contentRight .txt,.kjxzList .txt,.kctjList .txt{ overflow:hidden;white-space:nowrap;text-overflow: ellipsis;}	
.tzz_kjxz_contentLeft p{ color:#999;}
.tzz_kjxz_contentLeft p span{ padding-left:20px;}
.tzz_kjxz_contentLeft .pic{ position:relative; width:480px; height:284px; overflow:hidden;}
	
.pic .fileType{
	top:30%;
	height:40%;
	line-height:100%;
	transition: all .4s; 
	-moz-transition: all .4s;
	-webkit-transition: all .4s;
	-o-transition: all .4s;	    
	-webkit-transform:translateY(20%);
	opacity:0;
	position:absolute;
	left:0;
	text-align:center;
	width:100%;
	background-image: url(../images/touzizhe/tzz_bg1.png);
	background-repeat: repeat;
	background-position: 0 0;
}
.pic:hover .fileType{opacity:1;-webkit-transform:translateY(0%)} 


.tzz_kjxz_contentRight{ float:right; width:640px; overflow:hidden;}
.tzz_kjxz_contentRight ul{ width:440px;}
.tzz_kjxz_contentRight li{ float: left; margin:0 20px 10px 0;width:200px; cursor:pointer;height: 220px;}
.tzz_kjxz_contentRight .txt{width:178px;}
.tzz_kjxz_contentRight .pic{ position:relative;  height:110px; overflow:hidden;}
.tzz_kjxz_contentRight p{ color:#999;}
.tzz_kjxz_contentRight p span{ padding-left:20px;}


/*投资者教育结束*/
/*投资者教育课件下载开始*/
.tzz_kjxz_content.kjxzList{ padding:30px 0 15px 0; width:800px;overflow:hidden; }
.kjxzList ul,.kctjList ul{ width:800px;}
.kjxzList li{ float: left; margin:0 33px 22px 33px;width:200px; cursor:pointer;}
.kctjList li{ float: left; margin:0 20px 15px 0;width:200px; cursor:pointer;}
.kjxzList .txt,.kctjList .txt{width:178px;}
.kjxzList .pic,.kctjList .pic{ position:relative;  height:110px; overflow:hidden;}
.kjxzList p,.kctjList p{ color:#999;}
.kjxzList p span,.kctjList p span{ padding-left:20px;}
.kctjList{}
.tzz_kjxz .contentLeft{ padding:20px; width:480px; height:280px; overflow:hidden;}
.tzz_kjxz .contentRight{ width:617px;}
.tzz_kjxz .contentRight .head{ height:60px; }
.tzz_kjxz .contentRight .body .list span{ display:block;}
.tzz_kjxz .contentRight .body .list .left{ width:10%}
.tzz_kjxz .contentRight .body .list .right{ width:90%}
.tzz_kjxz_content.kctjList{ padding:30px 30px 15px 30px; width:1078px; overflow:hidden;}

/*投投资者教育课件下载结束*/



/*产品服务_实物黄金_详情开始*/

.jzk_swhj_content{ padding:30px 0;}
.jzk_swhj_jyHead { padding:25px 0; background:#0080cc; overflow:hidden; }
.jzk_swhj_jyHead ul{ width:1100px;}
.jzk_swhj_jyHead li{ height:40px; width:215px; border-right:1px solid #2590cf; float:left; color:#fff; text-align:center;}
.jzk_swhj_jyHead li h2{ line-height:40px; font-size:30px;}
.jzk_swhj_jyHead li p{ line-height:20px;}
.jzk_swhj_jyCont table{ border:1px solid #eaeaea; padding:15px 0; }
.jzk_swhj_jyCont .title{ background:#0080cc; padding-left:20px; color:#fff;}
.jzk_swhj_jyCont table td,.jzk_swhj_jyCont table th{ border:1px solid #eaeaea; padding:5px;}
.jzk_swhj_jyCont table .tdLeft{ text-align:center; background:#f5f5f5; padding-left:20px; padding-right:20px;}
.jzk_swhj_jyCont table .tdRight{ padding:10px 20px;}
.jzk_swhj_introduction{ margin-top:20px; width:858px; border:1px solid #eaeaea;}
.jzk_swhj_introduction .subTitle{ height:48px; border-bottom:1px solid #eaeaea; line-height:48px; padding-top:0;}
.jzk_swhj_introduction .subTitle li{ float:left; width:130px; height:48px; border-right:1px solid #eaeaea; text-align:center; font-size:18px; cursor:pointer;}
.jzk_swhj_introduction .subTitle .current{ height:47px; border-bottom:2px solid #0080cc; color:#0080cc;}
.jzk_swhj_introduction .content{ padding:20px;display: none;}
.jzk_swhj_introduction .content p{ margin-bottom:20px; text-indent:2em;}


/*产品服务_实物黄金_详情结束*/



/*产品及服务开始*/
.jzk_swhj_contList{ padding:30px 0 5px 0; overflow:hidden;}
.jzk_swhj_contList ul{ width:1000px;}
.jzk_swhj_contList li{ float:left; padding-right:25px; padding-bottom:25px; cursor:pointer;}
.jzk_swhj_contList .list{ cursor:auto;}





.jzk_swhj_contListContent{ background:#f7f7f7; width:228px; height:269px; border:1px solid #eaeaea; border-bottom:none; padding:0 20px;}

.jzk_swhj_contListBtn{ background:#0080cc; width:270px; height:40px; text-align:center; line-height:40px;}
.jzk_swhj_contListContent .jzk_au{ height:75px; border-bottom:1px solid #eaeaea; text-align:center; padding-top:20px;}
.jzk_swhj_contListContent .jzk_bfb{ height:43px; border-bottom:1px solid #eaeaea; text-align:center; padding:20px 0; overflow:hidden;}
.jzk_swhj_contListContent .jzk_bfb ul{ width:500px;}
.jzk_swhj_contListContent .jzk_bfb li{ float:left; width:115px; border-right:1px solid #eaeaea; text-align:center; padding:0;}
.jzk_swhj_contList li:hover .jzk_swhj_contListContent{ border:1px solid #cda949; border-bottom:none;}
.jzk_swhj_contList li:hover .jzk_swhj_contListBtn{ background:#cda949;}
.jzk_jyfs{border:1px solid #eaeaea; width:228px; height:308px; padding:0 20px; text-align:center; background:#f7f7f7;}
.jzk_jyfs .jzk_jyfs_head{ height:108px;border-bottom:1px solid #eaeaea; padding-top:60px;}

.jzk_jyfs_foot{ padding-top:25px;}

/*产品及服务结束*/




/*研究中心-国际顾问开始*/
.jzk_gjgw_content li{ margin-bottom:30px; padding:25px; border:1px solid #eaeaea;}
.jzk_qjqw_bewrite{ width:600px;}
/*研究中心-国际顾问结束*/



/*交易所介绍-机构设置开始*/
.jzk_jgsz_content{ padding:30px 0 5px 0; border-bottom:1px solid #eaeaea; overflow:hidden;}
.jzk_jgsz_content ul{ width:1000px;}
.jzk_jgsz_content li{ float:left; margin:0 25px 25px 0; width:228px; height:248px; border:1px solid #eaeaea; cursor: pointer; padding:0 20px; background:#f7f7f7;} 
.jzk_jgsz_content li h2{ height:65px; border-bottom:1px solid #eaeaea; text-align:center; line-height:65px; font-size:18px; color:#0080cc;}
.jzk_jgsz_content li p{ padding-top:10px;}
.jzk_jgsz_content li:hover{ border:1px solid #cda949;}
.jzk_jgsz_content li:hover h2{ color:#cda949;}
/*交易所介绍-机构设置结束*/
/*会员登录开始*/
.jzk_hyzq_banner{ background:url(../images/jzk_huiyuan_banner.jpg) no-repeat center 151px; width:100%; height:400px;}
.jzk_bannerCenter{ height:400px; position:relative;}



.login{ width:340px; height:303px; background:url(../images/jzk_huiyuandl_bg.png) repeat 0 0; position:absolute; top:30px; right:0;}
.login .title{ height:56px; border-bottom:1px solid #eaeaea; clear:both;}
.login .title h2{ float:left;  font-size:18px; color:#0080cc; height:55px; border-bottom:2px solid #0080cc; line-height:55px;}
.login .content{ padding:0 30px;}

.login .dlname input,.login .dlmima input{
	width:223px;
	height:43px;
	padding-left:45px;
	padding-right:10px;
	overflow:hidden;
	background-image: url(../images/jzk_huiyuan_icon1.png);
	background-repeat: no-repeat;
	line-height:43px;
	font-size:14px;
	
}
.login .dlmima input{
	background-image: url(../images/jzk_huiyuan_icon2.png);
}

.login .inputFocus{
	background-position:0 -43px;
	color:#333;
}

.login .linkBtn{
		line-height:45px; 
		width:130px;
		height:43px;
		text-align:center;
		border:1px solid #e3bb51;
	}
	
.login .linkBtn_blue{
	border:1px solid #c8e2f1;
	}
	
.login  .linkBtn_blue:hover{
	border:1px solid #e3bb51;
	}
	
	
/*.login .content .btn a{ display:block; width:132px; height:45px; line-height:45px; text-align:center; font-size:18px;}
.login .content .btn a.dl{ background:#cda949; color:#fff;}
.login .content .btn a.dl:hover{ background:#ebb026;}
.login .content .btn a.zc{width:130px; height:43px; background:#e4f0f7; color:#0080cc; border:1px solid #0080cc;}
.login .content .btn a.zc:hover{ background:#bddef0;}
.login .content .btn a:hover{ text-decoration:none;}
*/


.jzk_hyzq_main { background:url(../images/jzk_huyan_bg2.png) repeat-x 0 0; height:260px;}
.jzk_hy_content{ width:1140px; margin:0 auto; background:#fff; height:180px; position:relative; top:-30px; padding:30px; overflow:hidden;}

.jzk_hy_content li{ height:90px; width:369px; border-right:1px solid #eaeaea; border-bottom:1px solid #eaeaea; float:left; cursor:pointer;}
.jzk_hy_content li a{ margin-left:10px;}
.jzk_hy_content .list2,.jzk_hy_content .list5{ width:400px; }
.jzk_hy_content .list2 a,.jzk_hy_content .list5 a{ margin:0 auto;}
.jzk_hy_content .list3,.jzk_hy_content .list6{ width:370px;}
.jzk_hy_content .list3 a,.jzk_hy_content .list6 a{ margin-left:45px;}
.jzk_hy_content ul{ width:1300px;}
.jzk_hy_contBtn{ display:block; width:300px; height:60px;}
.jzk_hy_content li .icon{ background:url(../images/jzk_huiyuan_bg1.png) no-repeat 0 0; width:70px; height: 60px; }
.jzk_hy_content li .txt{ margin-left:20px; }
.jzk_hy_content li .txt h3{ line-height:24px; height:29px; border-bottom:1px solid #eaeaea; color:#4c4c4c; width:210px;}
.jzk_hy_content li .txt p{ line-height:32px;}
.jzk_hy_content .list3,.jzk_hy_content .list6{ border-right:none;}

.jzk_hy_content .list4,.jzk_hy_content .list5,.jzk_hy_content .list6{ border-bottom:none; padding-top:30px; height:60px;}
.jzk_hy_content .list2 .icon{ background:url(../images/jzk_huiyuan_bg2.png) no-repeat 0 0;}
.jzk_hy_content .list3 .icon{ background:url(../images/jzk_huiyuan_bg3.png) no-repeat 0 0;}
.jzk_hy_content .list4 .icon{ background:url(../images/jzk_huiyuan_bg4.png) no-repeat 0 0;}
.jzk_hy_content .list5 .icon{ background:url(../images/jzk_huiyuan_bg5.png) no-repeat 0 0;}
.jzk_hy_content .list6 .icon{ background:url(../images/jzk_huiyuan_bg6.png) no-repeat 0 0;}
.jzk_hy_content li a:hover,.jzk_hy_content li a:hover h3{ color:#cda949;}
.jzk_hy_content li a:hover .icon{ background-position:0 -60px;}

/*会员登录结束*/

/*交易员查询开始*/

.jzk_zysx{ width:220px; margin-top:25px;}
.jzk_zysx .bt{ background:url(../images/jzk_jyypz_bt.png) no-repeat 0 center; height:30px; line-height:30px; text-align:center; font-size:18px; color:#333;}
.jzk_zysx .content{ padding:25px; background:#f4f4f4; margin-top:10px;}
.jzk_zysx .content p{ margin-bottom:20px;}

.jzk_jyy_search{ margin-top:20px;}
.jzk_jyy_searchBar{ background:#0080cc; width:100%; height:80px; line-height:40px; font-size:16px; color:#fff;}
.jzk_jyy_searchBar .search{ width:270px; height:40px; border:none; padding:0 5px; line-height:40px;}
.timeselect1{ width:140px; height:40px; border:none;}
.jzk_jyy_searchBar .btn{ background:url(../images/jzk_jyy_searchbtn.png) no-repeat 0 center;width:150px; height:40px; color:#fff; cursor:pointer; text-align:center; padding-left:5px;}
.jzk_jyy_doc_content{ padding:30px 20px; border:1px solid #eaeaea; border-top:none; font-size:14px; background:#f5f5f5; display:none;}

.jzk_jyy_doc_content .doc{ border:1px solid #eaeaea; border-bottom:none; width:818px; background:#fff;}
.jzk_jyy_doc_content .doc .img{ float:left; width:140px; padding:20px; border-right:1px solid #eaeaea;}
.jzk_jyy_doc_content .doc .txt{ padding:10px 30px; line-height:40px;}
.jzk_jyy_doc_content .doc .txt p{ width:570px;border-bottom:1px solid #eaeaea; height:40px;}
.jzk_jyy_doc_content .doc .txt p span{ color:#333;}
.jzk_jyy_doc_content .bewrite{ font-size:12px; line-height:40px; text-align:center;}
.jzk_jyy_doc_content .bewrite th{ background:#d5efff;}
.jzk_jyy_doc_content .bewrite .downloadBtn{ margin:0 auto;}
.jzk_jyy_doc_content .bewrite td{ height:40px; border:1px solid #eaeaea; border-top:none; background:#fff;}
.jzk_jyy_kaoshi{ background:url(../images/jzk_jyy_ksbg.jpg) no-repeat; width:860px; height:400px; position:relative; margin-bottom:30px;}
.jzk_jyy_ksCont{  background:url(../images/jzk_jyy_kswzbg.png) no-repeat; width:400px; height:340px; position:absolute;top:30px;left:30px; padding:0 30px;}
.jzk_jyy_ksCont .txt{ line-height:26p; color:#333;}
/*交易员查询结束*/



/*  人才招聘 begin  */
.recInforCont li .cont div{ width:147px;}
.recInforCont li:hover{ background:#fef8e5;}

/*  人才招聘 end  */

/* 大记事详情 begin*/
.djsbtnBar{height:50px; width:860px;}
.djsbtnBar .arrowBtnL, .djsbtnBar .arrowBtnR{ width:48px; height:48px; cursor:pointer; }
.dajishiCont .djsbtnBar .djsbtnList{ width:760px;overflow:hidden; height:50px; float:left;}
.djsbtnList ul{ width:1200px;}
.djsbtnBar .djsbtnList li{ float:left; width:95px; border-bottom:1px solid #eaeaea;border:1px solid #eaeaea; border-left:none; height:48px; text-align:center; font-size:18px; line-height:50px; cursor:pointer;}
.djsbtnBar .djsbtnList .current{color:#fff; background:#0080cc;}
.djsbtnBar .arrowBtnL:hover,.djsbtnBar .arrowBtnR:hover{background-color:#ececec;}
.djsbtnBar .arrowBtnL,.djsbtnBar .arrowBtnR{ background:#f7f7f7;}
.dajishiCont .djscontent table{ margin-left:-8px;}
.dajishiCont .djscontent .date{padding-top: 10px;padding-bottom: 10px; background: #bcbcbc; color:#fff; font-size:16px;}
.dajishiCont .djscontent .txt{ padding:10px 20px; font-size:14px; text-align:left;}
.dajishiCont .djscontent table .icon{ background:url(../images/dashijianbg.png) no-repeat 0 center; }
.dajishiCont .djscontent table .date{ text-align:center;}
.dajishiCont .djscontent table tr:hover .icon{background:url(../images/dashijianHover.png) no-repeat 0 center; }
.dajishiCont .djscontent table tr:hover .date{ background:#cda949; border:1px solid #cda949; border-right:none;}
.dajishiCont .djscontent table tr:hover .txt{border:1px solid #cda949; border-left:none;}
.djscontent{ display:none;}

/* 大记事详情 end*/


/* 大记事  begin*/
.dajishibg{ background:url(../images/dajishibg_03.png) repeat-y center 0; margin-top:30px; margin-bottom:30px;}
.dajishiCont .left{ width:408px;  position:relative; }
.dajishiCont .left .arrow{ position:absolute; right:-12px; top:-42px;}
.dajishiCont .left .event .time, .dajishiCont .right .event .time{line-height:120px; font-size:72px; font-weight:bold; }
.dajishiCont .left .event .txt span, .dajishiCont .right .event .txt span{font-weight:bold;}
.dajishiCont .left .current .txt span, .dajishiCont .right .current .txt span, .dajishiCont .left .current .time,.dajishiCont .right .current .time
{ color:#0080cc; font-weight:bold;}
.dajishiCont .right{ width:408px; padding-top:150px; margin-left:-6px;}

.dajishiCont .event .time{-webkit-font-smoothing: antialiased;}
/* 大记事 end*/

/* 联系我们  begin*/

.lxwmCont .lxfangfa{ width:381px;}
.lxwmCont .map{ width:476px; height:359px; overflow:hidden;}


/* 联系我们  end*/

/* 延时行情  begin*/
.hqzsTitle table{ background:#0080cc; line-height:30px;}
.hqzsTitle table .txt{ text-indent:20px; color:#fff; font-size:18px;}
.hqzsTitle .dateTime{ width:100px; height:30px; border:none;}
.hqzsTitle{ color:#fff; font-size:14px;}
.hqzsTitle .select{ width:140px; height:30px; border:none;}
.hqzsTitle .select70{ width:70px; height:30px; border:none; text-align: center; text-align-last: center;}
.hqzsPic{ margin:30px auto;overflow:hidden; border:1px solid #eaeaea; width:798px; height:428px; position: relative; background:#f3f3f3;}
.hqzsPic .select{ position:absolute; top:15px; right:30px; width:120px; height:30px; }
/* 延时行情  end*/

/* 行情数据 begin*/
.timeselect{ width:120px; height:32px; border:none;}

.cityselect{ width:190px; height:30px; border:none;}
.jjmaket{ width:418px;}

/* 行情数据  end*/




/* 友情链接 begin*/
.bankBtnList, .bankBtnLists,{ width:1140px; overflow:hidden;}
.bankBtnList ul, .bankBtnLists ul{ width:1300px;}
.bankBtnLists.jgBtnLists li{ margin-bottom:20px; margin-right:20px;}
.jgBtnLists li .bankBtns{ width:268px; height:138px;}
.jgBtnLists li .bankBtns p{line-height:40px; font-size:18px;}
.bankBtnList li a{ display:block; margin-bottom:20px; margin-right:14px; height:60px; float:left; max-width: 205px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden; padding:0 5px;}
   
.bankBtns { display:block; width:213px; height:108px; float:left; border:1px solid #eaeaea; -webkit-border-radius:5px;border-radius:5px; overflow:hidden; position:relative;}
.bankBtnLists li{ margin-bottom:20px; margin-right:16px; float:left;}
.bankBtns p{ position:absolute; bottom:0; left:0; width:100%;text-align:center; line-height:30px; background:#cda949; color:#fff; display:none;}
.bankBtns:hover{ border:1px solid #cda949;}
.bankBtns:hover p{ display:block;}
/* 友情链接  end*/


/*jiwei添加会员中心样式*/
.jw_menber{padding-left:107px;}
.jw_input input{width:292px;height:43px; border:1px solid #eaeaea; color:#666666; padding-left:106px; line-height:43px;}
.jw_input input:focus{border:1px solid #add4eb;background:#fff;}
.jw_menber .btn1,.jw_menber .btn2{width:185px; height:45px; border-radius:2px; color:#fff; background:#cda949; line-height:45px; text-align:center; cursor:pointer; border:none;}
.jw_menber .btn2{background:#2c9bdd; margin-left:28px}
.jw_input{position:relative; height:43px;}
.jw_menber_txt{position:absolute; left:0; top:0; padding-left:18px; line-height:43px; color:#333;}
.jw_menber span{color:#ee6f60; padding:0 10px; padding-top:10px; float:left;}
.jw_menber em{ font-style:normal; padding-left:10px;}




/*jzk 会员中心资讯管理 begin*/
.membersearchBar{ background:#f8f8f8; }
.styleselect{ width:98px; height:38px; background-color:#fff;}
.inputTitle{ width:553px; height:38px; padding:0 10px 0 10px; border:1px solid #eaeaea;}
.inputBtn{ width:150px; height:40px; }

/*jzk 会员中心资讯管理 end*/

/*jzk 发票EMS查询 begin*/
.membersearchBar .left { padding-top:35px; width:179px; padding-bottom:30px;}
.inputTitle2{ width:441px; height:38px; padding:0 10px 0 10px; border:1px solid #eaeaea;}

/*jzk 发票EMS查询 end*/

/*jzk shopIndex begin*/
.shopBtnList li{ float:left; width:124px; height:72px; text-align:center; line-height:72px; font-size:16px; border-top:3px solid #ffffff; cursor:pointer;}
.shopHeaderCenter{ height:99px;}
.shopBtnList .current,.shopBtnList li:hover{ border-top:3px solid #cda949;}
.shopBtnList .current a,.shopBtnList li:hover a{ color:#cda949;}
.shopselect{ width:71px; height:40px; border:1px solid #eaeaea; }
.shopsearch{ width:250px; height:38px; border:1px solid #eaeaea; padding:0 5px 0 5px; line-height:38px; float:left; display:block; border-left:none;}
.shopsearchBtn{ 
	display:block;
	width:88px;
	height:40px;
	background:#d5b14b;
	color:#fff;
	border:none;
	cursor:pointer;
	font-size:16px;
	line-height:35px;
	text-align:center;
	border-top-left-radius:0px;
	border-top-right-radius:2px;
	border-bottom-right-radius:2px;
	border-bottom-left-radius:0px;
	float:left;	
	
}

.shopsearchBtn:hover{ background:#cda949; color:#fff;}
.shopHeaderCenter .logo{
	float:left;
	margin-top:20px;
}
.shopnav{ background:#00a0d7; height:60px; position:relative;}
.shopnavList{ width:1198px; margin:0 auto; overflow: hidden; border-right:1px solid #0090c1;}
.shopnavList ul{ width:1250px;}
.shopnavList .current{  background:#d4b04f; border-right:1px solid #0090c1; border-left:1px solid #0090c1;}
.shopnavList li{ float:left; width:199px; height:60px; border-right:1px solid #198cd1; text-align:center; line-height:60px; font-size:16px;}
.shopnavList li a{ color:#fff; display:block; width:100%; height:100%;}
.shopnavList li:hover{ background:#d4b04f; border-right:1px solid #d4b04f;}
.shopTzCont{ width:565px;}

.columnContent{ width:565px;line-height:36px; color:#666;}
.columnContent li a{ text-align:right; display:block; clear:both; border-bottom:1px dotted #eaeaea;}
.columnContent li .nobottom{ border-bottom: none;}
.columnContent li span {
	float:left;
	max-width:350px;
	white-space:nowrap;
	text-overflow: ellipsis;
	display:block;
	overflow:hidden;
	text-align:left;
}

.columnContent li span a{ color:#666;}

.columnContent p{ width:390px;}
.box{
	height:570px;
	background-color: #0080cc;
	background-image: url(../images/shopBg1.png);
	background-repeat: no-repeat;
	background-position: center 0;
}
.jyProducts h2{ line-height:55px; height:55px; border-bottom:3px solid #fff; width:80px; margin-left:auto; margin-right:auto; font-weight:normal; color:#fff;}
.ProductsBtnList{ width:180px; height:390px; background:#fff;}
.ProductsBtnList li{
	height:49px;
	width:180px;
	overflow:hidden;
	text-align:center;
	padding-top:80px;
	line-height:50px;
	font-size:16px;
	cursor:pointer;
	background: url(../images/shopBtn1.png) no-repeat;
}
/*.ProductsBtnList li a{ width:100%; height:100%; display:block;}
*/.ProductsBtnList .silver{background: url(../images/shopBtn2.png) no-repeat;}
.ProductsBtnList .platinum{background: url(../images/shopBtn3.png) no-repeat;}
.ProductsBtnList .current{
	background-color: #d4b04f;
	background-position:0 -130px;
	border-bottom:1px solid #d4b04f;
	color:#fff;
}
.ProductsBtnList li:hover a{ color:#fff;}
.border_f_b{ border-bottom:1px solid #fff;}
.Productscontent{ width:1000px; display:none;}
.ProductsMore{ background:#ffffff; width:222px; height:390px;}
.ProductsMore .detailsBtn_normal{ width:120px; height:30px; margin:20px auto 0; text-align:center; line-height:30px; padding-left:0;	-webkit-border-radius:15px;border-radius:15px;}
.ProductsCont{ width:760px; overflow:hidden; background:#fff;}
.ProductsContList{ height:90px;}
.ProductsContList:hover{ background:#fff3dc;}
.ProductsContList .left{ width:600px;}
.ProductsContList .left .pic{ width:120px; height:90px; overflow:hidden;}
.ProductsContList .left .txt{ width:440px;}
.ProductsContList .right .detailsBtn_normal{ width:90px; height:30px;text-align:center; line-height:30px; padding-left:0; margin-top:25px;}


.review{ width:370px;}
.review .columnTitle h2{ color:#333;}
.reviewCont .columnContent{ width:370px;}
.reviewCont .pic, .reviewCont .pic1, .reviewCont .pic2{width:370px;height:150px;background-repeat: no-repeat;background-position: center center;}
.reviewCont .pic{
	background-color: #00a0d7;
	background-image: url(../images/reviewBg1.png);

}
.reviewCont .pic1{
	background-color: #d8af4d;
	background-image: url(../images/reviewBg2.png);
}
.reviewCont .pic2{
	background-color: #b7bf10;
	background-image: url(../images/reviewBg3.png);

}

.reviewCont .columnContent li span {
	max-width:265px;
}


/*jzk shopIndex end*/
/*贵金属学院 begin*/
.shoppageTitle{ height:60px; line-height:58px; padding:0 20px 0 20px; border-bottom:1px solid #eaeaea; clear:both;}
/*贵金属学院 end*/
/*机构简介 begin*/
.shopPageCont .chBank{ border:1px solid #eaeaea;-webkit-border-radius:5px;border-radius:5px; width:428px; height:175px; background:url(../images/zgBank.png) no-repeat center center; margin:0 auto;}
.shopPageCont h3{ background:#00a0d7; font-size:16px; line-height:30px; padding-left:10px; padding-right:10px; float:left; color:#FFFFFF; margin-top:20px;}
.shopPageCont p{ text-indent:2em; font-size:14px; line-height:25px; margin-top:20px;}
/*机构简介 end*/

/*交易产品 begin*/
.jiaoyi{ width:569px;}
.jiaoyi .pic{ width:180px; height:135px; overflow:hidden;}
.jiaoyi .txt .txtHead{ width:340px; height:69px; position:relative;}
.jiaoyi .txt .newHot{ position:absolute; top:0; right:0;}
.txtCont .linkBtn{ width:125px; height:40px; text-align:center; line-height:40px; font-size:16px;}
.jiaoyiStyle{ height:65px; line-height:65px;}
.jiaoyiStyle b{ width:70px;}
.styleBtnList a{ float:left; padding:0 20px; line-height:30px; margin-top:17px; border:1px solid #fff; margin-right:5px; display:block;}
.styleBtnList a:hover,.styleBtnList .current{ border:1px solid #d4b04f;color:#d4b04f;}

.zhpxSelect{ width:100px; height:34px;}
.rqSelect{ width:80px; height:34px; margin-left:25px;}
.zhpxSelect,.rqSelect{ font-size:14px; padding:0 25px 0 10px;}
.jycpCont .ProductsCont{ width:1140px; height: auto;}
.jycpCont .ProductsContList .left{ width:820px;}
.jycpCont .ProductsContList .right{ width:279px; padding-top:25px;}
.jycpCont .ProductsContList .left .txt{ width:640px;}
.jycpCont .ProductsContList .right .linkBtn{ width:90px;text-align:center; line-height:30px; }

/*交易产品 end*/
/*商品分类 begin*/
.classificationBanner{
	height:120px;
	background-color: #779ecc;
	background-image: url(../images/banner2.jpg);
	background-repeat: no-repeat;
	background-position: center 0;
}
.classificationBanner .jzk_title{ color:#fff; line-height:120px; padding-left:20px;}


/*商品分类 end*/

/*网上交易所首页开始*/
.supermarket{ background:#fff; width:830px;}
.jyspBar{ height:30px; background:#fcfbfa;}
.jyspselect{ width:235px;}
.jypzselect{ width:225px;}
.jyspselect,.jypzselect{height:30px; border:1px solid #eaeaea;}
.supermarket .linkBtn{ width:90px; line-height:30px;}
.supermarket .ProductsContList .left{ width:675px;}
.supermarket .ProductsCont{ width:830px;}
.supermarket .ProductsContList .left .txt{ width:510px;}
.supermarket .ProductsContList .right{ padding-top:25px;}

.huangjinZhq{ width:350px;}
.huangjinZhqHead{ background:#fff;}
.huangjinZhq .content{ background:#1a8dd1; padding:20px; margin:20px; margin-bottom:0;}
.wsjysInput{ background:url(../images/wsjys_bg1.png) no-repeat; width:268px; height:40px;}
.wsjysInput .meiyuan,.wsjysInput .renmb{ width:158px; height:40px; border:none; background:none; padding:0 10px; font-weight:bold;}
.wsjysInput .renmb{color:#ff2222;}
.wsjysInput .meiyuan{color:#000000;}
.wsjysInput .right{ width:90px; text-align:center;}
.huangjinZhqHead .linkBtn{ width:268px; line-height:40px; font-size:18px; margin-top:15px;}

.jyhqCont .btnList{ background:#fcfbfa;position:relative;height:50px;width:100%; border-bottom:1px solid #eaeaea;}
.jyhqCont .btnList .btns{ position:absolute;left:0px; top:0px;}
.jyhqCont .btnList li{ float:left; padding:0 35px; line-height:48px;font-size:18px; color:#333333; border-right:1px solid #eaeaea; cursor:pointer;border-top:3px solid #fcfbfa;}
.jyhqCont .btnList .current{
	border-top:3px solid #d4b04f;
	height:48px;
	background-color: #FFF;
}
.jyhqContent{ display:none;}
.newCenter{ width:590px;}
.newCenter .title{position:relative;height:60px;width:100%; border-bottom:1px solid #eaeaea;}
.newCenter .title .btns{ position:absolute; top:0; left:0;}
.newCenter .title .btns li{ float: left; padding:0 35px; cursor:pointer; line-height:58px;color:#333333; border-right:1px solid #eaeaea;font-size:18px;border-top:3px solid #fff;}
.newCenter .title .btns .current{border-top:3px solid #d4b04f; line-height:58px; background-color: #FFF;}
.newCenterCont{ padding:20px; display:none;}
.newCenterCont .shang .pic{ width:120px; height:80px; overflow:hidden;}
.newCenterCont .shang .txt{ width:410px;}
.newCenterList.columnContent{width:550px;line-height:40px; }
.newCenterList.columnContent li a{ border-bottom:none; padding-left:10px; padding-right:10px;}
.newCenterList.columnContent li a:hover{ background:#fff3dc;}
.newCenterList.columnContent li .bgColor_f7{ background:#f4fbff;}








/*网上交易所首页结束*/
.zhaopxx li{ width:214px; }
.zhaopxx p{ font-size:14px;}

/*交易产品-详情 begin*/
.cpxq_left{ width:879px;min-height:510px;}
.cpxq_left .jiaoyi{ width:819px;}
.cpxq_left .jiaoyi .txt .txtHead{ width:610px; height:69px; position:relative;}
.cpxq_left .jiaoyi .txt .newHot{ position:absolute; top:0; right:0;}
.txtCont .detailsBtn_blue{ width:125px; height:40px; text-align:center; line-height:40px; font-size:16px; background:#background:#0f91dd;}
.cpxq_right{ width:280px;}
.cpxq_right .jiaoyi{ width:280px;}
.cpxq_right .jiaoyi .pic{ width:120px; height:90px; overflow:hidden;}

.cpxq_right .jiaoyi .txt{ width:150px;}
.cpxq_right .jiaoyi .txt .txtHead{ width:150px; height:50px;}
.cpxq_right .jiaoyi .linkBtn{ width:50px; height:30px; line-height:30px; font-size:14px;}

/*交易产品-详情 end*/

/*预约开户 begin*/
.yykhtitle{ background:url(../images/yykhTitlebg.png) no-repeat ; width:1140px; height:60px;}
.yykhtitle p{ width:570px;}
.yykhcont .left{ padding-left:60px; width:650px;}
.yykhcont .jw_input input{ width:324px; font-size:14px;}
.yykhcont em{ font-style:normal; padding-left:10px;}
.lytex{ width:324px; font-size:14px; min-height:135px; border:1px solid #eaeaea; color:#666666; padding-left:106px; line-height:43px;}
.jw_input.heightauto{ height:auto;}
.yykhcont .left .linkBtn{ width:432px; height:45px; line-height:45px; text-align:center}
.yykhcont .right{ padding-top:200px; width:428px;}
.yykhcont .right p{ width:300px; margin-left:60px; margin-top:20px;}
.yykhcont{ position:relative;}
.yykhcont .succes{ width:320px; height:250px; margin:20px auto;}
.yykhcont .succes .linkBtn{ width:320px; height:45px; margin-top:100px; text-align:center; line-height:45px; font-size:18px;}
.lytex:focus{border:1px solid #add4eb;background:#fff;}
.lytex{outline:none; line-height:25px; padding-top:10px;}
.bankList{ width:432px; height:45px; padding-left:100px; font-size:14px; background:none;}
/*预约开户 end*/

/* 搜索结果开始*/
.searchCont .table{ background:#f8f8f8; border:1px solid #eaeaea; width:100%;
margin-top:30px; font-size:14px;}
.searchCont .table select{ width:100px; height:40px; padding-left:10px;}
.searchCont .table input{ width:553px; height:38px; border:1px solid #eaeaea; padding:0 10px;}
.searchCont .table .linkBtn{ width:130px; line-height:38px; font-size:16px; text-align:center; }
.searchTips{ border-bottom:2px solid #0080cc; height:99px; line-height:99px; font-size:14px;}
.searchTips select{ width:100px; height:40px;}
.searchCont{ padding:30px;}
.searchContList:hover{ background:#fff3dc;}
/* 搜索结果结束*/
.tcc{ width:400px; height:230px; background:#fff;}
.tcc .title{ background:#0080cc; color:#fff; padding:0 15px; line-height:40px; }
.tcc .content p{ display:none; line-height:120px; font-size:16px;}
.tcc .content .btnList{ width:280px; margin:0 auto;}
.tcc .btn1, .tcc .btn2{width:120px; height:40px; border-radius:2px; color:#fff; background:#cda949; line-height:40px; text-align:center; cursor:pointer; border:none;}
.tcc .btn3{ margin-left:155px; width:85px; height:35px; border-radius:2px; color:#fff; background:#cda949; line-height:35px; text-align:center; cursor:pointer; border:none;}
.tcc .btn2{background:#2c9bdd;}
.tcc .btn1:hover{ background:#dca949; color:#fff;}
.tcc .btn2:hover{ background:#2ca7dd; color:#fff;}


/*1008*/
.picList{}
.picList li{ display:none;}
.picList .jzk_jishaoBar{ width:100%;}
.jzk_jishaoBar .detailsBtn_normal{ margin-top:10px; margin-right:10px;}
.newsbtnList{ width:68px; height:12px; margin:230px auto 20px;}
.newsbtnList li{ width:12px; height:12px; background:#c6c6c6; border-radius:50%; float:left; cursor:pointer;}
.newsbtnList .current{ background:#2c98d6;}



.mCSB_outside + .mCSB_scrollTools {
    right: 0px;
}
.shj_pic1{
	width:580px;
	margin-left:auto;
	margin-right:auto;
}

.shj_pic{
	padding: 15px;
}
.shj_pic p{
	width:100%;
	white-space: nowrap;
    text-overflow: ellipsis;
}

.shj_pic img{ display: inline-block;overflow: hidden;}
.shj_listImg{ width: 439px;height: 288px;}
.shj_listImg li{ float: left; padding: 14px;}
.shj_listImg li img{ display: inline-block; width: 190px;height: 115px;overflow: hidden;}
.doc_txt{
	width: 415px;
	
} 


.app_content{ width:858px; height:288px;}
.app_picList{ width:219px; height:100%;}
.app_picList li{ padding:15px; text-align:center;}
.ppzs_content .pic{ width:368px; height:223px; overflow:hidden;}
.ppzs_content .txt{ width:465px;}

.titleBar{ border:1px solid #eaeaea; height:45px; width:858px;}
.titleBar li{ text-align:center; line-height:45px; font-size:16px; width:285px; float:left; cursor:pointer;}
.titleBar li a{ display:block; width:100%; height:100%;}
.titleBar .current{ background:#0080cc; width:286px;color: #fff;}
.titleBar .current a{color:#fff;}
.jzk_gjgw_content .paginationBar li{ padding:0; border-left: none;}
.zhaos_cont{ font-size:14px; line-height:30px;}
.zj_content .title .bg{ background:url(../images/zj_title_bg.png) repeat-x 80px center; width:770px; float:right; height:40px;}
.zj_content .title h2{ width:80px;font-size:16px; color:#0080cc; font-weight:bold; line-height:40px; float:left;}
.zjlc_cont{ width:860px; overflow:hidden;}
.zjlc_cont ul{ width:1000px;}
.zjlc_cont li{ float:left; height:355px; padding-right:28px;}
.zjlc_cont .list1,.zjlc_cont .list3.zjlc_cont .list4{ width:230px;}
.zjlc_cont .list2{ background:url(../images/zjlc_arrow.png) no-repeat 0 center; width:30px;}
.zjlc_cont .list1 .pic{ width:200px; height:200px; background:url(../images/zjlc_img1.png) no-repeat; margin:0 auto;}
.zjlc_cont .list3 .pic{ width:200px; height:200px; background:url(../images/zjlc_img2.png) no-repeat; margin:0 auto;}
.zjlc_cont .list4 .pic{ width:200px; height:200px; background:url(../images/zjlc_img3.png) no-repeat; margin:0 auto;}
.zjlc_cont li .pic h4{ padding-top:130px; line-height:40px; font-size:20px; text-align:center; color:#fff; font-weight:normal;}
.zjlc_cont li p{ width:230px; line-height:25px;}

.jzk_gjgw_content .articleList li {
    margin-bottom: 0;
    padding: 0; 
   border: none; 
}
.memberName{ position: relative;}
.date_picker{ background:url(../images/tzz_dateIcon.png) no-repeat right center; background-color:#fff; border:1px solid #eaeaea; width:100px; height:30px; padding-left:10px; cursor:pointer; line-height:30px;}

.dateBar .date_picker{ height:20px;}
.dateBar{ position:absolute; top:0; right:30px;}
.membersearchBar .date_picker{ width:158px; height:38px;}
.qsyz_cont .pic{ width:540px; border-right:1px solid #eaeaea;}
.qsyz_cont .txt{ width:269px; padding:0 25px 0 25px;}




/*易金通开始*/
.container-fluid{ padding:0;}
.container{width:1200px; width:auto;}
.warp_banner{ background-image:#76ade2; background:url(../images/yijintong_banner.png) no-repeat; height:595px;}
.yjt_box{ width:1200px; margin:0 auto;}
.bannerCont{ width:50%; padding-left:16.7%;}
.bannerCont h1{ font-size:1000%; color:#fff;}
.bannerCont p{ font-size:300%; color:#fff;}
.bannerCont .cont p{font-size:14px; color:#fff;letter-spacing: 3px;}
.bannerCont .cont .sm{font-size:10px;letter-spacing:0;}
/*易金通结束*/
/*高峰论坛开始*/
.gflt_header{ width:1200px; margin:auto;}
.gflt_warp{ background:#f5f5f5;}
.gflt_warp .container{ background:#ffffff;width:1200px;margin:auto; position:relative; top:-30px;}
.gflt_box{ width:539px;}
.ti4em{ text-indent:4em;}
.lt_content .btnList{ width:1138px; height:43px; border:1px solid #eaeaea;}
.lt_content .btnList li{ width:568px; text-align: center; font-size:16px; line-height:43px; float:left; cursor:pointer;}
.lt_content .btnList .current{ background:#0080cc; color:#fff;}
.gf_picList{ width:1140px; overflow:hidden;}
.gf_picList ul{ width:1250px;}
.gf_picList li{ float:left; width:248px; height:163px; border:1px solid #eaeaea; margin-bottom:20px; margin-right:20px; padding:10px;}
/*高峰论坛结束*/
.ztpic{ position:relative; width:860px;}
.ztpic h2{ font-size:30px; color:#fff; position:absolute; top:70px; right:70px; line-height:40px;}
.dl_bar{ background:#f4fbff; height:45px; line-height:45px; border-bottom:1px solid #eaeaea;border-top:1px solid #eaeaea; margin-top:20px; padding:0 20px; font-size:14px;}
.gflt_header .listBar li{ float:left; width:104px; height:80px; border-right:1px solid #eaeaea;-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;}
.gflt_header .listBar .active{ border-bottom:3px solid #CDA949;}
.gflt_header .listBar li a{ display:block; width:100%; height:100%; line-height:80px; text-align:center; font-size:16px; color:#666}
.gflt_header .listBar li a:hover{ color:#CDA949;}

/*保证金询价市场开始*/
.hqzsTitle table .txt14{ text-indent:20px; color:#fff; font-size:14px; text-align: left;}
/*保证金询价市场结束*/