#fig_area {
    position: absolute;
    display: grid;
    grid-template-rows: repeat(3, 33.3%);
    float: left;
    left: 500px;
    width: 400px;
    height: 800px;

}

.js_pic {
    height: 250px;
    /*left:500px;*/
    /*align-content: center;*/
    /*justify-content: center;*/
}

/*#au_day{*/
/*    float: right;*/
/*    margin-top: 0;*/
/*}*/

/*#au_delta{*/
/*    float: right;*/
/*    margin-top: 250px;*/

/*}*/
/*#au_ytm{*/
/*    float: right;*/
/*    margin-top: 500px;*/

/*}*/


#au_hist {

    position: absolute;
    width: 400px;
    height: 200px;
    left: 10px;
    align-content: center;
    justify-content: center;
}

.deal{
    margin-top: 250px;
}

table {
    width: 400px;
    /*margin-left: 30px;*/
}

.biaoge_title{
    font-weight: bold;
}

#qhhy{
    font-size: large;
}
.red{
    background-color: lightcoral;
}
.green{
    background-color: lightgreen;
}