
#main_body {
    position: absolute;
    display: grid;
    grid-template-rows: repeat(3, 33%);
    grid-template-columns: repeat(2, 50%);
    /*float: left;*/
    alignment: center;
    /*width: 90%;*/
    width: 80%;
    min-width: 800px;

    height: 1200px;
    align-content: start; /*整个grid位于大框的左侧*/
}

#au_day {
    grid-column-end: span 2;

}

#high_freq {
    margin: auto;
}

/*h2{*/
/*    position: absolute;*/
/*    top: 790px;*/
/*}*/
/*#au_hist_data{*/
/*    position: absolute;*/
/*    top: 850px;*/
/*}*/
table {
    width: 400px;
}

.biaoge_title {
    font-weight: bold;
}

#qhhy {
    font-size: large;
}
.red{
    background-color: lightcoral;
}
.green{
    background-color: lightgreen;
}