#main_body {
    position: absolute;
    display: grid;
    grid-template-rows: repeat(4, 25%);
    grid-template-columns: repeat(2, 50%);

    /*grid-template-columns: repeat(2, 50%);*/
    /*float: left;*/
    alignment: center;
    /*width: 90%;*/
    width: 90%;
    min-width: 800px;
    height: 2000px;
    align-content: start; /*整个grid位于大框的左侧*/
}

#choice, #irs_hist, #box_fig {
    grid-column-end: span 2;
}
