<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,
                                     initial-scale=1.0">
    <link href="../static/css/public.css" rel="stylesheet">
    <!--    <script src="../static/js/access_log.js"></script>-->

    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../static/js/echarts.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="icon" href="../static/img/favicon.ico" type="image/x-ico"/>
    <link rel="stylesheet" href="../static/css/au.css">
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <!--    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>-->
    <!--    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>-->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>

    <!--    Element引入-->
    <!-- 引入样式 -->
    <!--    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">-->
    <!-- 引入组件库 -->
    <!--    <script src="https://unpkg.com/element-ui/lib/index.js"></script>-->
    <title>黄金价差数据</title>
</head>
<body>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <h2 class="text-center">
                黄金期现价差数据
            </h2>
            <ul class="breadcrumb">
                <li>
                    <a href="/">主页</a>
                </li>
                <li class="active">
                    黄金期货
                </li>
            </ul>
            <div class="row clearfix">
                <div class="col-md-6 column">
                    <h4 class="text-center">
                        实时数据
                    </h4>
                    <table class="table table-hover table-striped">
                        <thead>
                        <tr>
                            <th>
                                代码
                            </th>
                            <th>
                                AU(T+D).SGE
                            </th>
                            <th id="dominant">

                                <select name="qhhy" id="qhhy" onchange="change_contract(this.value)">
                                    <!--                    <option value="1">Au2106</option>-->
                                    <!--                    <option value="2">Au2108</option>-->
                                </select></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="biaoge_title">最后交割日</td>
                            <td>-</td>
                            <td id="delivery">init</td>
                        </tr>
                        <tr class="warning">
                            <td class="biaoge_title">最新成交价</td>
                            <td id="xh_now">init</td>
                            <td id="qh_now">init</td>
                        </tr>
                        <tr class="warning">
                            <td class="biaoge_title">买价</td>
                            <td id="xh_buy">init</td>
                            <td id="qh_buy">init</td>
                        </tr>
                        <tr class="warning">
                            <td class="biaoge_title">卖价</td>
                            <td id="xh_sale">init</td>
                            <td id="qh_sale">init</td>
                        </tr>
                        <tr>
                            <td class="biaoge_title">成交价（价差/收益率）</td>
                            <td id="jiacha_pure">init</td>
                            <td id="ytm_pure">init</td>
                        </tr>
                        <tr>
                            <td class="biaoge_title">正套（价差/收益率）</td>
                            <td id="jiacha_zheng">init</td>
                            <td id="ytm_zheng">init</td>
                        </tr>
                        <tr>
                            <td class="biaoge_title">反套（价差/收益率）</td>
                            <td id="jiacha_fan">init</td>
                            <td id="ytm_fan">init</td>
                        </tr>
                        <tr class="info">
                            <td class="biaoge_title">更新时间</td>
                            <td id="stock_time_xh">init</td>
                            <td id="stock_time_qh">init</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6 column" id="high_freq_pic">
                    实时数据图
                </div>
            </div>

            <div class="row clearfix">
                <div id="au_hist_data" class="col-md-6 column">
                    <h4 class="text-center">
                        历史数据
                    </h4>
                    <div id="app">
                        <table id="hist_table" class="table-striped table table-hover">
                            {% raw %}

                            <thead>
                            <th v-for="(key) in Object.keys(au_data['0'])">
                                {{table_name[key]}}
                            </th>
                            </thead>
                            <tr v-for="(info) in au_data">
                                <th v-for="(col) in info">
                                    {{col}}
                                </th>
                            </tr>
                            {% endraw %}
                        </table>
                    </div>
                </div>
                <div id="au_hist" class="col-md-6 column">
                    历史数据图
                </div>
            </div>


        </div>
    </div>
</div>
</div>
<div id="footer"></div>

<script>
    var app = new Vue({
        el: '#app',
        data: {
            au_data: {
                "0": {
                    "Date": "2018-10-05",
                    "xianhuo": 0,
                    "qihuo": 0,
                    "hold": 0,
                    "volume": 0,
                    'diff': 0,
                    'ytm': 0
                },
            },
            table_name: {
                "Date": '日期',
                "xianhuo": '现货价格',
                "qihuo": '期货价格',
                "hold": '持仓量',
                "volume": '交易量',
                "diff": '价差',
                "ytm": '收益率'
            },
        },

    })

</script>
<script>
    $(function () {
        $("#footer").load("footer.html");
    });
</script>
<script src="../static/js/ec_au.js"></script>
<script src="../static/js/au_data.js"></script>


</body>
</html>