<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>银行同业交易中心成交数据</title>
    <link rel="icon" href="../static/img/favicon.ico" type="image/x-ico"/>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>-->
    　
    <script>

        //窗口大小变化时候，进行刷新页面操作，防止样式混乱


    </script>
</head>
<body>


<a href="/">返回主页</a>

<h1>银行同业交易中心成交数据</h1>
<form action="" method="post">

    <label for="deal_date">选择日期：</label><input id="deal_date" type="date" name="date"/>
    <!--    上一句本想加入当前所选日期，但是加了好像效果不好，先这样了-->
    <!--<button type="submit" onclick="get_deal()">确认</button>-->
    <button value="Login">确认</button>
</form>

<h2>数据列表如下：{{date|safe}}</h2>

{{ deal_data|safe }}

</body>
</html>