<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>产业链产品价格</title>
    <!--    使用post方法来提交txt文件，同时会刷新页面，存在一定的问题-->
    <!--    使用链接方式下载文件-->
    <!--TODO 使用js方法下载文件？-->

    <link rel="icon" href="../static/img/favicon.ico" type="image/x-ico"/>

    <link rel="stylesheet" href="../static/css/chain_price.css">
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <!--    <script src="../static/js/echarts.min.js"></script>-->

    <script>
        // 快速选择
        function fast_choose(product_name) {
            // 默认为新能源品类
            document.getElementById("type").value = 'new-energy'
            add_name_list()
            document.getElementById("name").value = product_name
            fetch_chain_data()
        }
    </script>
</head>
<body>
<a href="/">返回主页</a>

<h1>产业链产品价格</h1>

<!--<div id="fig_area">-->
<!--    <div class="ecfig" id="price_fig">商品价格趋势图</div>-->
<!--</div>-->

<div>
    <span>产品种类：</span>
    <select id="type" ,name="type" onchange="add_name_list()">
    </select>
    <span>产品名称：</span>
    <select id="name" ,name="name">
        <option value="">请选择产品种类</option>
    </select>

    <button onclick="fetch_chain_data();update_wait('请稍后')">确定</button>
</div>

<div>
    <span>快速选择：</span>
    <!--    TODO 把这个常用换成根据访问频率的？-->
    <span>
        <button onclick="fast_choose(this.innerText)">磷酸铁锂(动力型)</button>
        <button onclick="fast_choose(this.innerText)">碳酸锂(99.5%电池级/国产)</button> </span>
</div>

<p id="message"></p>


<div>
    <h3>数据:</h3>
    <div id="df_data"></div>
</div>


<script src="../static/js/ec_chain_price.js"></script>
<!--<script src="../static/js/agency_bond_deal.js"></script>-->

<script>


    function update_wait(word) {
        document.getElementById('message').innerText = word
    }

    update_wait('请选择')
</script>
</body>
</html>