<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>转债收益率</title>
    <!--    vue+elementUI-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!--    <script src="https://cdn.staticfile.org/vue/2.6.12/vue.min.js"></script>-->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <link rel="icon" href="../static/img/favicon.ico" type="image/x-ico"/>
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>

</head>
<body>

<div id="app">
    <!--    <h2>各转股价值段对应收益率</h2>-->
    <el-col :span='24'>
        <div id="hist_fig"></div>
    </el-col>
    <el-select v-model="choose_day" placeholder="选择日期">
        <el-option
                v-for="item in date_list"
                :key="item"
                :label="item"
                :value="item">
        </el-option>
    </el-select>

    <el-table
            :data=table_data
            height="400"
            stripe
            style="width: 100%">
        <el-table-column
                prop="转债名称"
                label="转债名称"
                sortable>
        </el-table-column>
        <el-table-column
                prop="转债涨跌幅"
                label="转债涨跌幅"
                sortable>
        </el-table-column>
        <el-table-column
                prop="正股涨跌幅"
                label="正股涨跌幅"
                sortable>
        </el-table-column>
        <el-table-column
                prop="转股价值"
                label="转股价值"
                sortable>
        </el-table-column>
        <el-table-column
                prop="转股溢价率"
                label="转股溢价率"
                sortable>
        </el-table-column>

    </el-table>


</div>

<style>
    #hist_fig {
        height: 500px;
        width: 100%;
    }
</style>

<script src="../static/js/echarts.min.js"></script>
<script src="../static/js/conv_bond.js"></script>

<div id="footer"></div>
<script>
    $(function () {
        $("#footer").load("footer.html");
    });
</script>
</body>
</html>