<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IRS利差</title>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/css/irs.css">
    <script src="../static/js/echarts.min.js"></script>
    <link rel="icon" href="../static/img/favicon.ico" type="image/x-ico"/>
    <!--    以下代码用来刷新页面布局信息-->

</head>
<body>
<!--<a href="/">返回主页</a>-->

<h1>IRS利差</h1>

<div id="main_body">
    <!--    初始数据也使用ajax方式来提高网页访问速度-->
    <div id="choice" class="js_pic">这里还有一个还没做好</div>
    <div id="irs_hist" class="js_pic">irs利差图</div>
    <div id="box_fig" class="js_pic">利率分位数</div>
    <div id="time_spread" class="js_pic">期限利差分位数</div>
    <div id="type_spread" class="js_pic">品种利差分位数</div>


</div>


<script src="../static/js/ec_irs.js"></script>
<script src="../static/js/irs.js"></script>

</body>

</html>