<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IRS利差</title>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/css/irs.css">
    <script src="../static/js/echarts.min.js"></script>
    <link rel="icon" href="../static/img/favicon.ico" type="image/x-ico"/>
    <!--    以下代码用来刷新页面布局信息-->

</head>
<body>
<!--<a href="/">返回主页</a>-->

<h1>IRS利差</h1>
<div>
    切换分位数所用时间区间：
    <button onclick="change_date(start=0)"> 全部数据</button>
    <button onclick="change_date(start=1)"> 近一年</button>
    <button onclick="change_date(start=2)"> 近两年</button>
    <button onclick="change_date(start=3)"> 近三年</button>
    <button onclick="change_date(start=4)"> 年初至今</button>
    <label>或选择日期：</label><input onchange="change_date(start=this.value)" type="date" name="date" value="2020-01-01"/>

</div>
<div>
    切换日历图数据：
    <button onclick="update_calendar(start=0)"> 国债</button>
    <button onclick="update_calendar(start=1)"> 国开</button>
    <button onclick="update_calendar(start=2)"> 口行</button>
    <button onclick="update_calendar(start=3)"> Repo</button>

</div>
<div id="main_body">
    <!--    初始数据也使用ajax方式来提高网页访问速度-->
    <div id="calender" class="gauge_fig">日历图</div>
    <div id="gauge_1" class="gauge_fig">国债收益率</div>
    <div id="gauge_2" class="gauge_fig">国债1*10</div>
    <div id="gauge_3" class="gauge_fig">国开-国债</div>
    <div id="gauge_4" class="gauge_fig">国债-Repo</div>
    <div id="irs_hist" class="js_pic">irs利差图</div>
    <div id="box_fig" class="js_pic">利率分位数</div>
    <div id="time_spread" class="js_pic">期限利差分位数</div>
    <div id="type_spread" class="js_pic">品种利差分位数</div>


</div>


<script src="../static/js/ec_irs.js"></script>
<script src="../static/js/irs.js"></script>

</body>

</html>