<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <!--    到处都放了ico，但是下面这两句似乎用不了-->
    <!--    <link rel="shortcut icon" href="favicon.ico" type="image/x-ico"/>-->
    <!--    <link rel="icon" href="/favicon.ico" type="image/x-ico"/>-->
    <!--    <link rel="icon" href="/favicon.ico"/>-->
    <link rel="icon" href="../static/img/favicon.ico" type="image/x-ico"/>

</head>
<body>
<h1>小工具合集</h1>
<p id="now_time"></p>
<table>
<tr>
    <td><a href="/bond_deal">同业交易中心债券成交</a></td>
</tr>
<!--<tr>-->
<!--    <td>2</td>-->
<!--    <td><a href="/moment">动量策略</a></td>-->
<!--</tr>-->
<tr>
    <td><a href="/au_data">黄金期现价差</a></td>
</tr>
<tr>
    <td><a href="/upload">信用债中介成交</a></td>
</tr>
<tr>
    <td><a href="/irs">IRS利差</a></td>
</tr>
<tr>
    <td><a href="/chain_price">产业链商品价格</a></td>
</tr>
</table>

<script>
    function fresh_time() {
        var now_date = new Date().toLocaleString()
        document.getElementById('now_time').innerText=(now_date)
    }
    fresh_time()
    var loop=setInterval(fresh_time,1000)
    window.addEventListener('blur', ()=>{
        document.title = document.title.split ('（')[0]+'（不活跃）';
        clearInterval(loop)
        // var loop=setInterval(high_freq_data,30000)

    }, true);

    window.addEventListener('focus', ()=>{
        document.title = document.title.split ('（')[0]+'（活跃）';
        clearInterval(loop)
        loop=setInterval(fresh_time,1000)

    }, true);

    // var title = document.title
    //  window.onblur = function () {
    //     document.title = '网页不活跃！'
    //      clearInterval(loop)
    //
    //      console.log('hello')
    // }
    // window.onfocus = function () {
    // document.title = title
    // clearInterval(loop)
    // var loop=setInterval(fresh_time,1000)
    // }

</script>
</body>
</html>