<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>动量策略回测</title>
    <link href="../static/css/public.css" rel="stylesheet">

    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="../static/css/moment.css">
    <link rel="icon" href="../static/img/favicon.ico" type="image/x-ico"/>

    <!--    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>-->
    <script src="../static/js/echarts.min.js"></script>
    <!--    以下代码用来刷新页面布局信息-->
    <script>
        // 静态网页可以用这样的方式刷新,ajax动态加载的网页会重载数据，不建议使用
        var x = window.innerWidth;
    function resizeFresh(){
        if (x !== window.innerWidth) {
            location.reload();
        }
    }
    </script>
</head>
<body onresize="resizeFresh()">
<a href="/">返回主页</a>

<div id="title">动量策略回测结果</div>
<!--<div id="time"></div>-->
<div id="lookback">左1</div>

<div id="center1">

    <div class="txt">长期均线</div>
    <div class="txt">短期均线</div>
    <div class="txt">长期乘数</div>
    <div class="txt">短期乘数</div>
    <div class="select">
        <select id="LMA" name="LMA">

        </select><br>
    </div>
    <div class="select">
        <select id="SMA" name="SMA">

        </select><br>
    </div>
    <div class="select">
        <select id="LF" name="LF">

        </select><br>
    </div>
    <div class="select">
        <select id="SF" name="SF">

        </select><br>
    </div>
    <div id="submit" onclick="get_lookback_data();update_wait('正在加载...') ">
        <button>确定</button>
    </div>
    <div id="wait">
        请选择后点击确认按钮
    </div>

</div>
<div id="footer"></div>
<script>
    $(function () {
        $("#footer").load("footer.html");
    });
</script>
<script>
    function update_wait(text) {
        document.getElementById("wait").innerText = text
    }

</script>

<script>
    function add_select(id, k, b) {
        // $('#LMA').empty();
        $.ajax({
            success: function () {
                for (var i = 0; i < 10; i++) {
                    $(id).append("<option value='" + i + "'>" + (i * k + b) + "</option>");//新增
                }
            },
            fail: function (status) {
                // 此处放失败后执行的代码
            }
        });
    }
    
    add_select("#LMA",2,10);
    add_select("#SMA",1,2);
    add_select("#LF",0.01,0.98);
    add_select("#SF",0.01,0.98);
</script>

<script src="../static/js/ec_lookback.js"></script>

<script src="../static/js/lookback.js"></script>
</body>
</html>