<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,
                                     initial-scale=1.0">
    <title>中介成交整理</title>
    <!--    使用post方法来提交txt文件，同时会刷新页面，存在一定的问题-->
    <!--    使用链接方式下载文件-->
    <!--TODO 使用js方法下载文件？-->
    <link href="../static/css/public.css" rel="stylesheet">
    <!--    <script src="../static/js/access_log.js"></script>-->

    <link rel="icon" href="../static/img/favicon.ico" type="image/x-ico"/>

    <link rel="stylesheet" href="../static/css/upload.css">
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!--    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>-->
    <script src="../static/js/echarts.min.js"></script>

    <script>
        // function change_download(){
        //     var file_name='./static/download/'+document.getElementById('now_date').innerText+'.xlsx'
        //     console.log(file_name)
        //     document.getElementById('download_file').href=file_name
        //     document.getElementById('download_file').download=document.getElementById('now_date').innerText+'.xlsx'
        //     document.getElementById('download_file').removeAttribute('hidden')
        // }
        // change_download()

    </script>


</head>
<body>
<a href="/intro">返回主页</a>

<h1>文件上传</h1>

<div id="fig_area">

    <div class="ecfig" id="zhongpiao">中票</div>
    <div class="ecfig" id="qiyezhai">企业债</div>

</div>
<div>
    <form action="\upload" enctype='multipart/form-data' method='POST'>
        <input type="file" name="file" id="filepicker">
        <input type="submit" value='提交'>
    </form>
</div>
<p id="message">{{message}}</p>


<!--    <a href="./static/download/页面模板.xlsx" download="页面模板.xlsx">下载xlsx</a>-->
<p hidden id="download_excel">
    <span id="now_date">{{now_date}}</span>
    <img src="../static/img/excel.gif" alt="">
    <a download="页面模板.xlsx" id="download_file">下载xlsx文件</a>
</p>


<div id="df_data">
    <h3>短融</h3>
    {{df_duanrong|safe}}
    <h3>中票</h3>
    {{df_zhongpiao|safe}}
    <h3>企业债</h3>
    {{df_qiyezhai|safe}}
    <h3>其他</h3>
    {{df_qita|safe}}
</div>
<pre id="file">
    {{plain_data}}
    </pre>


<div id="footer"></div>
<script>
    $(function () {
        $("#footer").load("footer.html");
    });
</script>


<script src="../static/js/ec_agency_bond_deal.js"></script>
<script src="../static/js/agency_bond_deal.js"></script>

<script>
    //隐藏不需要的行
    function hide_table() {
        for (var i = 0; i < document.getElementsByClassName('deal')['length']; i++) {
            tb = document.getElementsByClassName('deal')[i]
            console.log('hello')
            for (var j = 0; j < tb.rows.length; j++) {
                for (var k = 4; k < 8; k++) {
                    tb.rows[j].cells[k].style.display = 'None';
                }
            }
        }
    }

    hide_table()


    function change_download() {
        var now_date = document.getElementById('now_date').innerText
        console.log(now_date)
        if (now_date === "") {//如果当前没有获取数据，则不显示下载excel按钮
        } else {
            document.getElementById('download_file').href = '../static/download/' + document.getElementById('now_date').innerText + '.xlsx'
            document.getElementById('download_file').download = document.getElementById('now_date').innerText + '.xlsx'
            document.getElementById('download_excel').removeAttribute('hidden')
        }
    }

    change_download()
</script>

</body>
</html>