<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,
                                     initial-scale=1.0">
    <title>中介成交整理</title>
    <!--    使用链接方式下载文件-->
    <!--TODO 使用js方法下载文件？-->
    <link href="../static/css/public.css" rel="stylesheet">
    <link rel="icon" href="../static/img/favicon.ico" type="image/x-ico"/>
    <link rel="stylesheet" href="../static/css/upload_new.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="../static/js/echarts.min.js"></script>
    <!--    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>-->
    <script src="https://cdn.staticfile.org/vue/2.6.12/vue.min.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <!--    不知道为什么还是固定不住fig_area-->
    <style>
        #fig_area {
            position: fixed;
            height: 500px;
        }

        .el-table td, .el-table th {
            padding: 0;
        }

        .el-table {
            margin: auto;
        }

        ul li {
            display: inline-block;
        }
    </style>
</head>
<body>

<div id="app" class="mc-root mc-ui-absolute-pane">
    <el-row>
        <el-col :xs="12" :sm="12">
            <div style="display: inline">
                <h2>数据日期: <span v-text="file_name.slice(0,-4)">  </span></h2>
            </div>
            <!--            <el-row>-->
            <!--                <el-col :xs="8" :sm="8">-->
            <div style="text-align: center">
                <ul>
                    <li>
                        <el-upload
                                class="upload-demo"
                                action="/upload/upload"
                                :on-preview="handlePreview"
                                :on-remove="handleRemove"
                                :before-remove="beforeRemove"
                                multiple
                                :limit="3"
                                :on-exceed="handleExceed"
                                :file-list="fileList">
                            <el-button type="primary">上传txt</el-button>
                            <!--                <div slot="tip" class="el-upload__tip">上传txt文件</div>-->
                        </el-upload>
                    </li>
                    <li>
                        <!--在这里需要用a标签来产生链接，直接用el-button点击无反应-->
                        <a :href="'../static/download/' +file_name.slice(0,-4)+ '.xlsx'">
                            <el-button type="success" :download="file_name.slice(0,-4)+'.xlsx'" id="download_file">
                                下载xlsx
                            </el-button>
                        </a>

                        <!--                </el-col>-->
                    </li>
                    <li>
                        <!--                <el-col :xs="8" :sm="8">-->

                        <el-select v-model="file_value" placeholder="选择日期">
                            <el-option
                                    v-for="item in days"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">
                            </el-option>
                        </el-select>
                    </li>
                </ul>
            </div>
            <!--                </el-col>-->
            <!--            </el-row>-->
            <el-alert
                    title="可以点击下面按钮选择债券种类，表格中点击剩余期限可筛选是否为永续债"
                    type="info"
                    style="margin-top:  20px;margin-bottom: 20px">
            </el-alert>

            <div style="margin-top:  20px;margin-bottom: 20px;text-align: center">
                <!--                <el-checkbox :indeterminate="isIndeterminate" v-model="checkAll" @change="handleCheckAllChange">全选-->
                <!--                </el-checkbox>-->
                <el-checkbox-group v-model="checkedCities" @change="handleCheckedCitiesChange">

                    <el-checkbox-button v-for="city in cities" :label="city" :key="city">{{city}}</el-checkbox-button>
                </el-checkbox-group>
            </div>


            <el-table
                    :data=table_data
                    stripe
                    style="width: 100%">
                <el-table-column
                        prop="year"
                        label="年数"
                        width="80px"
                        sortable>
                </el-table-column>
                <el-table-column
                        prop="剩余期限"
                        label="剩余期限"
                        width="120px"
                        :filters="[{text: '永续债', value: 'N'},{text: '非永续债', value: 'Y'}]"
                        :filter-method="filterHandler_N"
                >
                </el-table-column>
                <el-table-column
                        prop="简称"
                        label="简称"
                        sortable>
                </el-table-column>
                <el-table-column
                        prop="收益率"
                        label="收益率"
                        width="90px"
                        sortable>
                </el-table-column>
                <el-table-column
                        prop="评级"
                        width="90px"
                        label="评级"
                        :filters="[{text: 'AAA', value: 'AAA'}, {text: 'AA+', value: 'AA+'}, {text: 'AA', value: 'AA'}]"
                        :filter-method="filterHandler"
                >
                </el-table-column>

            </el-table>

        </el-col>
        <el-col :xs="12" :sm="12" id="fig_area">

        </el-col>
    </el-row>

</div>


<div id="footer"></div>
<script>
    $(function () {
        $("#footer").load("footer.html");
    });
</script>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="../static/js/upload_new.js"></script>
<script src="../static/js/ec_agency_bond_deal_new.js"></script>
</body>
</html>